QPushButton {
     border: 2px solid #8f8f91;
     border-radius: 6px;
     background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 rgba(246,247,250,0.7), stop: 1 rgba(218,219,222,0.7));
 }
 QPushButton:hover {
      background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                        stop: 0 rgba(218,219,222,0.7), stop: 1 rgba(246,247,250,0.7));
  }
